/* Set the font family and background color */
body {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }
  
  /* Style the headings */
#gold {
  background: linear-gradient(130deg, white,#F9D77F, #F6D166, #C38C39, #AD752F,#AD752F, #C38C39, #DCA742, #EEBE50, #F9D77F, #AD752F);
  background-size: cover;
}
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td, th {
    border: 1px solid black;
  }
  

  #square {
    padding: 25px;
    border: 100px;
    border-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
  }
  
  h1 {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
  
  }
  
  h2 {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    width: 300px;
  }

  h3 {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    width: 75%;
  }
