/* Set the font family and background color */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style the headings */
  #gold {
    background-image: linear-gradient(to bottom right, #CBA052, #D9B35E, #E8C06C, #F4D56F);
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td, th {
    border: 1px solid black;
  }
  

  #square {
    padding: 25px;
    border: 100px;
    border-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
  }
  
  h1 {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    height: 50px;
  }
  
  h2 {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    width: 300px;
  }

  h3 {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 20px;
    width: 75%;
  }
